
<div>
  <label>Slot Finder</label>
  <input type="text" [(ngModel)]="pincode" (change)="slotFinderStatusChange('qwec')" placeholder="Enter pincode">
</div>

 
  <div class="container" *ngIf="vaccineSlotsArray.length > 0">
    <div class="row">
      <div class="col">
        Time
      </div>
      <div class="col">
        Name
      </div>
      <div class="col">
        18
      </div>
      <div class="col">
        45
      </div>
    </div>


    <div *ngFor="let slot of vaccineSlotsArray; let i = index">
      <div>
        {{vaccineSlotsArray[vaccineSlotsArray.length-i-1]['centers'][0].time | date:"HH:mm:ss"}}
      </div>
      <div>
        {{vaccineSlotsArray[vaccineSlotsArray.length-i-1]['centers'][0].name}}
      </div>

      <div *ngIf="vaccineSlotsArray[vaccineSlotsArray.length-i-1]['centers'][0].sessions[0].available_capacity == 0">
        {{vaccineSlotsArray[vaccineSlotsArray.length-i-1]['centers'][0].sessions[0].available_capacity}}
      </div>
      <div *ngIf="vaccineSlotsArray[vaccineSlotsArray.length-i-1]['centers'][0].sessions[0].available_capacity > 0"
        style="background-color: greenyellow;">
        {{vaccineSlotsArray[vaccineSlotsArray.length-i-1]['centers'][0].sessions[0].available_capacity}}
      </div>

      <div *ngIf="vaccineSlotsArray[vaccineSlotsArray.length-i-1]['centers'][0].sessions[1].available_capacity == 0">
        {{vaccineSlotsArray[vaccineSlotsArray.length-i-1]['centers'][0].sessions[1].available_capacity}}
      </div>
      <div *ngIf="vaccineSlotsArray[vaccineSlotsArray.length-i-1]['centers'][0].sessions[1].available_capacity > 0"
        style="background-color: greenyellow;">
        {{vaccineSlotsArray[vaccineSlotsArray.length-i-1]['centers'][0].sessions[1].available_capacity}}
      </div>
    </div>
  </div> 
 